<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        @if (areActionsAvailable) {           
        <th>Actions</th>
        }
      </tr>
    </thead>
    <tbody>
      @if (categories.length === 0) {
        <tr>
        <td [attr.colspan]="areActionsAvailable ? 4 : 3" class="text-center">No categories found</td>
        </tr>
      }
      
      @for (category of categories; track category.id) {
          <tr *ngFor="let category of categories">
          <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
        <td>{{ category.description }}</td>
        <td *ngIf="areActionsAvailable">
          <button class="btn btn-sm btn-warning" (click)="onEdit(category)">Edit</button>
          <button class="btn btn-sm btn-danger" (click)="onDelete(category)">Delete</button>
        </td>
        </tr>
      }
    </tbody>
  </table>
</div>